@use './normalize' as *;
@use './mixins' as *;
@use './variables' as var;

/* DrukCyr */
@font-face {
  font-family: 'DrukCyr';
  src:
    url('~/assets/fonts/drukwidecyr-medium.woff') format('woff'),
    url('~/assets/fonts/DrukCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Montserrat */
@font-face {
  font-family: 'Montserrat';
  src: url('~/assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* NunitoSans */
@font-face {
  font-family: 'NunitoSans';
  src: url('~/assets/fonts/NunitoSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('~/assets/fonts/NunitoSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('~/assets/fonts/NunitoSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
// СБРОС СТИЛЕЙ И ОТСТУПОВ
* {
  margin: 0;
  padding: 0;
  font-size: 0;
  font-size: initial;
  box-sizing: border-box;
  font-family: var.$font-main;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var.$text-color;
}
[flex] {
  display: flex;
}

body {
  background: var.$bg-color;
}
