.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200vh;
  min-height: fit-content;
  padding: 0 0 0 112px;
}

.ticker {
  position: absolute;
  width: 100%;
}
.tickerWrapper {
  display: flex;
  width: 72px;
  height: 100%;
  align-items: baseline;
  padding: 8px 0;
}
.tickerItem {
  top: 0;
  height: auto;
  overflow: hidden;
  position: relative;
}

.content {
  display: flex;
  padding: 0 112px 0 0;
}

iframe {
  position: relative;
  top: -40px;
  width: 100%;
  min-height: 91vh;
  object-fit: cover;
  margin-bottom: 40px;
  overflow: hidden;
  border-radius: 40px;
}
