@use '../../assets/scss/variables.scss' as var;

.burger-button {
  display: none;
  background: transparent;
  border: none;
  padding: 0;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 768px) {
    display: flex;
  }

  &:hover {
    opacity: 0.7; // ✅ Лёгкий эффект наведения
  }

  &:active {
    opacity: 0.5; // ✅ Эффект нажатия
  }
}

.burger-button :global(.el-icon) {
  // ✅ Используем глобальный селектор для иконки Element Plus
  color: var.$accent-color4;
}
